# SPDX-FileCopyrightText: 2024 (C) Marius Mucenicu
# SPDX-License-Identifier: AGPL-3.0-or-later

name: CI

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - 'master'

jobs:
  code_style:
    name: Code style
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          cache: npm

      - name: Install commitlint
        run: npm ci

      - name: Install Python
        run: uv python install

      - name: Install dependencies
        run: uv sync --locked

      - name: Run commitlint
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          readonly BASE=${{ github.event.pull_request.base.sha }}
          readonly HEAD=${{ github.event.pull_request.head.sha }}

          git fetch origin "$BASE" "$HEAD"
          npx commitlint --from "$BASE" --to "$HEAD" --verbose

      - name: Run linter
        run: uv run ruff check

      - name: Run formatter
        run:  uv run ruff format --check

  code_quality:
    name: Tests and coverage
    needs: code_style
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        run: uv python install

      - name: Install dependencies
        run: uv sync --locked

      - name: Run tests and collect coverage
        run: uv run coverage run --source=knowlift,tests -m unittest discover

      - name: Generate XML report
        run: uv run coverage xml

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
